.main-bg {
    background-image: url(/img/background-main.webp);
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover ;
}


.main {
    padding-left: 10%;
}

.main-header {
    display: grid;
    justify-items: end; 
    padding-top: 20px;
    padding-bottom: 10px;   
}

.main-header a{
    display: block;
    max-width: max-content;
    padding: 5px 10px;
}

.main-content {
    max-width: 575px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.main-content p{
    margin: 10px 0px;
}
.main-content a{
    margin-top: 20px;
    margin-left: 20px;
}

.subtitle {
    color: #B22AB0;
    font-weight: 600;
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.25rem;
    margin-bottom: 10px;
    display: block;
}

@media only screen and (min-width: 861px) and (max-width:1100px) {
    .main-bg {
        background-image: url(/img/background-main-notebook.webp);
        background-position:  center top;
    }
}

@media only screen and (min-width: 501px) and (max-width:860px) {
    .main-bg {
        background-image: url(/img/background-main-mobile.webp);
        background-position:  right bottom;
        padding-bottom: 80px;
    }
}

@media only screen and (max-width: 500px) {
    .main-bg {
        background-image: url(/img/background-main-mobile.webp);
        background-position:  right top;
        padding-bottom: 140px;
    }

    .main {
        padding-left: 10px;
        padding-right: 10px;
    }

    .main-content a {
        margin-left: 0px;
    }

    .subtitle {
        font-size: 1.125rem;
    }
}