.termos-politica {
  padding-top: 60px ;
}

.termos-politica p{
  margin: 5px 0px;
  font-size: 1rem;
}
.termos-politica h2{
  margin-bottom: 40px;
  text-align: center;
}
.termos-politica h4{
  color: #040404;
  margin-top: 30px;
}

.termos-politica span{
    margin-top: 20px;
    display: block;
}

.termos-politica h5{
  font-style: italic;
  margin-top: 10px;
}
