.insta-exclusivo {
  padding-top: 80px ;
  padding-bottom: 80px;
  max-width: 800px;
  margin: 0 auto;
}

.insta-exclusivo-content {
 text-align: center;
}
.insta-exclusivo-content h2{
 margin-bottom: 20px;
}